doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/skeleton/normalize.css')
    link(rel='stylesheet', href='/css/skeleton/skeleton.css')
    link(rel='stylesheet', href='/css/sequoia-index.css')

  body
    .container
      h1= title

      h2 Slides
      each deckgroup in decks
        .row.slides-index
          each deck in deckgroup
            a.one-half.column(href=basepath + '/' + deck)= deck

      h2 Code
      ul
        li: a(href='https://github.com/sequoia/code-along') Repo to clone
        li Work from "start" directories as starting points for exercises. Alternately, you can copy the directory & use it elsewhere.
        li Find solutions in "done" directories.
